In [1]:
import pandas as pd

In [25]:
y = '2010'
f = 'data/2010/2010principales.txt'

In [26]:
df = pd.read_table(f)

In [27]:
df.columns

Index(['ndecla', 'nhogar', 'nppal', 'ncyge', 'expediente', 'municipio', 'dh',
       'ccaa', 'tramo', 'marcafuente',
       ...
       'c932', 'c933', 'c934', 'c935', 'c936', 'c937', 'c938', 'c990', 'c994',
       'c995'],
      dtype='object', length=388)

In [16]:
var = pd.read_csv('data/variables_descripcion.csv', index_col=0)

In [28]:
var.index

Index(['c455', 'c620', 'c689', 'c690', 'c698', 'c699', 'c730', 'c731', 'c732',
       'categoriadecla', 'ccaa', 'factoroptimizado', 'fechappal',
       'ingresostrabajo', 'marcafuente', 'sexoppal', 'tipotributacion',
       'tramo'],
      dtype='object', name='variables')

In [29]:
sample = df[var.index]

In [30]:
sample.head()

,c455,c620,c689,c690,c698,c699,c730,c731,c732,categoriadecla,ccaa,factoroptimizado,fechappal,ingresostrabajo,marcafuente,sexoppal,tipotributacion,tramo
0,7017232,7017232,1164536,1147107,1032785,1019763,617087,604066,1221153,4,12,10.224510,19600124,0,0,1,I,8
1,21948858,20498858,4063085,4063085,4086601,4086601,4065923,4065923,8131846,4,1,1.054162,19520412,0,0,1,I,9
2,1421115,1081115,129733,129733,72871,72871,72871,72871,145742,3,13,49.700609,19540408,1915000,1,1,C,5
3,1843496,1628496,195419,195419,114657,114657,47044,47044,94088,2,8,15.634339,19650716,0,0,2,C,6
4,898966,558966,67075,64840,8405,8405,8405,8405,16810,3,12,53.170935,19330422,1164702,1,1,C,5

In [31]:
sample.to_csv('data/2010/dmuestra.csv')

In [32]:
!open .