In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
%matplotlib inline

In [12]:
%precision 3

'%.3f'

In [18]:
d = pd.read_table('data/2011/2011principales.txt', sep='\t')
d.head()

,ndecla,nhogar,nppal,ncyge,expediente,municipio,dh,ccaa,tramo,marcafuente,...,c932,c933,c934,c935,c936,c937,c938,c1094,c1098,c1099
0,5743234,557846,1002095917,28005171063,201110066341636K,28006,28,12,5,0,...,0,0,0,0,0,0,0,2156,1313625,0
1,5743235,470524,1002123512,28039028136,201110072331775J,11004,11,1,9,0,...,0,0,0,0,0,0,0,4233668,0,838116
2,5743236,557847,1002136926,1800828795,201110031720523R,3900,3,17,5,1,...,0,0,0,0,0,0,0,88951,376131,0
3,5743237,800417,1002138304,0,201110017981270P,9284,9,8,4,0,...,0,0,0,0,0,0,0,17426,122898,0
4,5743238,557849,1002201551,1002201584,201110047050842D,28092,28,12,6,1,...,0,0,0,0,0,0,0,81566,30355,0

In [15]:
d.factor.sum()

19464832.711

In [14]:
d.factoroptimizado.sum()

19464833.000

In [17]:
d[d['c716'] > 0].factoroptimizado.sum()

641507.996

In [20]:
d[d['c716'] > 0].c716.count()

13325