In [2]:
import csv
import urllib
from BeautifulSoup import *
import pandas as pd
import html5lib
from numpy import *
from __future__ import unicode_literals

- sobre tag html tabla: http://www.w3schools.com/html/html_tables.asp
- tablas irpf, url: http://www.sbal.net/utilidades/tipo-de-gravamen-en-el-irpf/

In [2]:
url = u'http://www.sbal.net/utilidades/tipo-de-gravamen-en-el-irpf/'
html = urllib.urlopen(url).read()
soup = BeautifulSoup(html)

In [3]:
tags = soup(['h2', 'em', 'table'])
data = list()

for i, tag in enumerate(tags):
    data.append([i,  # indice
                 tag.string,  # texto que contiene el tag
                 tag.name,   # nombre del tag
                 tag])  # codigo html

In [4]:
df = pd.DataFrame(data, columns=['index', 'string', 'tag', 'html'])

In [5]:
df.head()

,index,string,tag,html
0,0,None,em,"<em>BEST LAWYERS<span class=""reg"">&reg;</span>..."
1,1,Territorio Común,h2,"<h2 class=""utilidadsub"">Territorio Común</h2>"
2,2,Gravamen Estatal,h2,"<h2 class=""tabletitle"">Gravamen Estatal</h2>"
3,3,Base liquidable general,em,<em>Base liquidable general</em>
4,4,None,table,"<table class=""responsive"" summary=""Tabla infor..."

# exportar el dataframe en un csv para modificarlo con excel.

df.to_csv('contenido.csv', 
          sep=str(';'), 
          index=False, 
          encoding='utf-8')

In [6]:
!open .

In [7]:
df = pd.read_csv('contenidos.csv',
                 sep=str(';'))

In [8]:
df.head()

,index,string,html
0,4,BL_estatal,"<table class=""responsive"" summary=""Tabla infor..."
1,9,BL_ccaa,"<table class=""responsive"" summary=""Tabla infor..."
2,15,Andalucia,"<table class=""responsive"">\r<thead>\r<tr>\r<th..."
3,18,Aragon,"<table class=""responsive"">\r<thead>\r<tr>\r<th..."
4,21,Principado de Asturias,"<table class=""responsive"">\r<thead>\r<tr>\r<th..."

In [9]:
strings, tables = list(df.string), list(df.html)
datafs = zip(strings, tables)

In [11]:
def trans_decimal(x):
    try:
        return float(x.replace('.', '').replace(',', '.')) 
    except:
        return x

In [16]:
ccaa_escalas = dict()

for i, e in enumerate(datafs): # enumera cada elemento de la lista

    ccaa_escalas['escala_' + e[0]] = pd.read_html(e[1], thousands=None)[0] # crea las variables en el diccionario
    globals()['escala_' + e[0]] = pd.read_html(e[1], thousands=None)[0] # crea las variables en la memoria

In [19]:
escala_Aragon.head()

,Base liquidable [Hasta euros],Cuota Integra [euros],Resto base liquidable [Hasta euros],Tipo aplicable [Porcentaje]
0,0.0,0.00,17707.2,12.0
1,17707.2,2124.86,15300,14.0
2,33007.2,4266.86,20400,18.5
3,53407.2,8040.86,En adelante,21.5

In [18]:
escala_Aragon = escala_Aragon.applymap(trans_decimal)
escala_Aragon.head()

,Base liquidable [Hasta euros],Cuota Integra [euros],Resto base liquidable [Hasta euros],Tipo aplicable [Porcentaje]
0,0.0,0.00,17707.2,12.0
1,17707.2,2124.86,15300,14.0
2,33007.2,4266.86,20400,18.5
3,53407.2,8040.86,En adelante,21.5

In [20]:
ccaa_escalas = dict()

for i, e in enumerate(datafs): # enumera cada elemento de la lista

    ccaa_escalas['escala_' + e[0]] = pd.read_html(e[1], thousands=None)[0].applymap(trans_decimal) # crea las variables en el diccionario
    globals()['escala_' + e[0]] = pd.read_html(e[1], thousands=None)[0].applymap(trans_decimal) # crea las variables en la memoria

In [32]:
!cd tipos_escalas_gravamen

In [33]:
!ls

2010principales.txt
ANALISIS_IRPF.ipynb
box_dist_tramo_by_ccaa.png
ccaa_escalas
contenidos.csv
dist_ascending_cuota_by_ccaa.png
dist_ascending_cuota_by_tramo.png
dist_ascending_cuota_by_tramo2.png
dist_ascending_tramo_by_ccaa.png
dist_declarantes_por_tramos_españa.png
doc
dwork.csv
frec_relativa_dist_por_ccaa.png
hist_dist_tramo_by_ccaa.png
hists_frec_relativa_dist_tramo_by_ccaa.png
prog_fiscal.ipynb
scraping_gravemenes_ca.ipynb
seaborn_hist_dist_tramo_by_ccaa.png
sum_ascending_cuota_by_ccaa3.png
sum_ascending_cuota_by_tramo.png
sum_ascending_cuota_by_tramo_ccaa3.png
sum_ascending_cuota_liquida_estado_ca_by_ccaa.png
tipos_escalas_gravamen
variables.txt

In [36]:
for k, v in ccaa_escalas.iteritems():
    v.to_csv('%s' % k, 
             encoding='utf-8')

In [37]:
!open .

In [39]:
ls = !ls

In [43]:
escalas = list()
for l in ls:
    if not l.startswith(str('escala_')):
        continue
    escalas.append(l)

In [44]:
escalas

['escala_Andalucia',
 'escala_Araba',
 'escala_Aragon',
 'escala_BL_ccaa',
 'escala_BL_estatal',
 'escala_Bizkaia',
 'escala_Canarias',
 'escala_Cantabria',
 'escala_Castilla La Mancha',
 'escala_Castilla y Leon',
 'escala_Catalunya',
 'escala_Comunidad Valenciana',
 'escala_Comunidad de Madrid',
 'escala_Extremadura',
 'escala_Galicia',
 'escala_Gipuzkoa',
 'escala_Islas Baleares',
 'escala_La Rioja',
 'escala_Navarra',
 'escala_Principado de Asturias',
 'escala_Region de Murcia']

escala aplicable en 2016:
http://www.agenciatributaria.es/AEAT.internet/Inicio_es_ES/La_Agencia_Tributaria/Campanas/_Campanas_/Impuesto_sobre_la_Renta_de_las_Personas_Fisicas__IRPF_/_INFORMACION/Reforma_Renta_2015/Tipos_y_escalas_de_gravamen/Escala_general_a_aplicar_a_partir_del_ejercicio_2016.shtml

In [1]:
url = 'http://www.agenciatributaria.es/AEAT.internet/Inicio_es_ES/La_Agencia_Tributaria/Campanas/_Campanas_/Impuesto_sobre_la_Renta_de_las_Personas_Fisicas__IRPF_/_INFORMACION/Reforma_Renta_2015/Tipos_y_escalas_de_gravamen/Escala_general_a_aplicar_a_partir_del_ejercicio_2016.shtml'

In [17]:
pd.read_html(url, 
             skiprows=0, 
             index_col=None, 
             thousands=None, 
             header=[0,1])[0]

  Base liquidable Cuota íntegra Resto base liquidable Tipo aplicable
      Hasta euros         Euros           Hasta euros     Porcentaje
0            0,00          0,00             12.450,00           9,50
1       12.450,00      1.182,75              7.750,00          12,00
2       20.200,00      2.112,75             15.000,00          15,00
3       35.200,00      4.362,75             24.800,00          18,50
4       60.000,00      8.950,75           En adelante          22,50